<%- include('partials/header') -%>
<body>
  <div class="navbar bg-base-200">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl prose"><h1 class="site-name">keyfigurator</h1></a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <a class="btn btn-ghost" href="/logout">Log out</a>
      </ul>
    </div>
  </div>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <div class="keyboard-container rounded-lg shadow-2xl">
        <div class="keyboard">
          <div class="row numbers">
            <div class="key key__esc">
              <i data-feather="x"></i>
            </div>
            <div class="key key__symbols">
              ! <span> 1
            </div>
            <div class="key key__symbols">
              @ <span> 2
            </div>
            <div class="key key__symbols">
              # <span> 3
            </div>
            <div class="key key__symbols">
              $ <span> 4
            </div>
            <div class="key key__symbols">
              % <span> 5
            </div>
            <div class="key key__symbols">
              ^ <span> 6
            </div>
            <div class="key key__symbols">
              & <span> 7
            </div>
            <div class="key key__symbols">
              * <span> 8
            </div>
            <div class="key key__symbols">
              ( <span> 9
            </div>
            <div class="key key__symbols">
              ) <span> 0
            </div>
            <div class="key key__symbols">
              _ <span> -
            </div>
            <div class="key key__symbols">
              + <span> =
            </div>
            <div class="key key__delete key__icon">
              <i data-feather="delete"></i>
            </div>
          </div>
      
          <div class="row alphas">
            <div class="key key__oneandhalf">
              <i data-feather="log-in"></i>
            </div>
            <div class="key">
              Q
            </div>
            <div class="key">
              W
            </div>
            <div class="key">
              E
            </div>
            <div class="key">
              R
            </div>
            <div class="key">
              T
            </div>
            <div class="key">
              Y
            </div>
            <div class="key">
              U
            </div>
            <div class="key">
              I
            </div>
            <div class="key">
              O
            </div>
            <div class="key">
              P
            </div>
            <div class="key key__symbols">
              { <span> [
            </div>
            <div class="key key__symbols">
              } <span> ]
            </div>
            <div class="key key__symbols key__oneandhalf">
              | <span> \
            </div>
          </div>
      
          <div class="row alphas">
            <div class="key key__caps">
              <i data-feather="meh"></i>
            </div>
            <div class="key">
              A
            </div>
            <div class="key">
              S
            </div>
            <div class="key">
              D
            </div>
            <div class="key">
              F
            </div>
            <div class="key">
              G
            </div>
            <div class="key">
              H
            </div>
            <div class="key">
              J
            </div>
            <div class="key">
              K
            </div>
            <div class="key">
              L
            </div>
            <div class="key key__symbols">
              : <span> ;
            </div>
            <div class="key key__symbols">
              " <span> '
            </div>
            <div class="key key__enter">
              <i data-feather="corner-down-left"></i>
            </div>
          </div>
      
          <div class="row alphas">
            <div class="key key__shift-left">
              <i data-feather="arrow-up-circle"></i>
            </div>
            <div class="key">
              Z
            </div>
            <div class="key">
              X
            </div>
            <div class="key">
              C
            </div>
            <div class="key">
              V
            </div>
            <div class="key">
              B
            </div>
            <div class="key">
              N
            </div>
            <div class="key">
              M
            </div>
            <div class="key key__symbols">
              > <span> .
            </div>
            <div class="key key__symbols">
              < <span> .
            </div>
            <div class="key key__symbols">
              ? <span> /
            </div>
            <div class="key">
              <i data-feather="arrow-up-circle"></i>
            </div>
            <div class="key key__arrow">
              <i data-feather="arrow-up"></i>
            </div>
            <div class="key">
              <i data-feather="trash-2"></i>
            </div>
          </div>
      
          <div class="row bottom">
            <div class="key key__bottom-funct">
              ^
            </div>
            <div class="key key__bottom-funct">
              <i data-feather="activity"></i>
            </div>
            <div class="key key__bottom-funct">
              <i data-feather="command"></i>
            </div>
            <div class="key key__spacebar">
            </div>
            <div class="key">
              <i data-feather="command"></i>
            </div>
            <div class="key">
              <i data-feather="activity"></i>
            </div>
            <div class="key key__arrow">
              <i data-feather="arrow-left"></i>
            </div>
            <div class="key key__arrow">
              <i data-feather="arrow-down"></i>
            </div>
            <div class="key key__arrow">
              <i data-feather="arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="color-picker">
        <div class="prose">
          <h2>Configurator</h2>
          <form class="save-color-form" method="post" action="/saved-colors/saveColor">
            <div>
              <span>Background</span>
              <input type="text" value="#d0d0d0" class="input input-bordered w-full max-w-xs color-picker-bg" name="backgroundColor"/>
            </div>
            <div>
              <span>Case</span>
              <input type="text" value="#46465E" class="input input-bordered w-full max-w-xs color-picker-case"
                name="backgroundColor" name="caseColor"/>
            </div>
            <div>
              <span>Keys</span>
              <input type="text" value="#FFFFFF" class="input input-bordered w-full max-w-xs color-picker-keys" name="keysColor"
                name="caseColor" />
            </div>
            <div class="form-control">
              <div class="input-group in-group-lg">
                <input type="text" placeholder="Enter color name" class="input input-bordered w-full color-picker-name"
                  name="colorName" />
                <button type="submit" class="btn">
                  Save
                </button>
              </div>
            </div>
          </form>
          <div>
            <h2>Saved colors</h2>
            <ul class="saved-colors">
              <% for(var i=0; i < colors.length; i++) {%>
                <li class="saved-color prose" data-id="<%=colors[i]._id%>">
                  <span>
                    <%= colors[i].colorName %>
                  </span>
                  <section>
                    <span id="bg-color">
                      <%= colors[i].backgroundColor %>
                    </span>
                    <span id="case-color">
                      <%= colors[i].caseColor %>
                    </span>
                    <span id="keys-color">
                      <%= colors[i].keysColor %>
                    </span>
                    <span><button type="button" class="deleteBtn btn btn-secondary">Delete</button></span>
                  </section>
                </li>
                <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script  src="./script.js"></script>
<script src="./color-picker.min.js"></script>
<script>
  const bgPicker = new CP(document.querySelector('.color-picker-bg'));
  const casePicker = new CP(document.querySelector('.color-picker-case'));
  const keysPicker = new CP(document.querySelector('.color-picker-keys'));
  
  function bgOnChange(r, g, b, a) {
    this.source.value = this.color(r, g, b, a);
    document.querySelector('.keyboard-container').style.backgroundColor = this.color(r, g, b, a);
  }
  function caseOnChange(r, g, b, a) {
    this.source.value = this.color(r, g, b, a);
    document.querySelector('.keyboard').style.borderColor = this.color(r, g, b, a);
  }
  function keysOnChange(r, g, b, a) {
    this.source.value = this.color(r, g, b, a);
    let keys = document.querySelectorAll('.key')
    keys.forEach(key => key.style.backgroundColor = this.color(r, g, b, a));
  }
  bgPicker.on('change', bgOnChange);
  casePicker.on('change', caseOnChange)
  keysPicker.on('change', keysOnChange)
</script>
</body>
</html>
